	/* Globals */
body {
	font-family: 'Open Sans', sans-serif;
}

	/* Jumbotron */
.jumbotron {
	background: url(img/bg.jpg);
	background-size: cover;
	box-shadow: inset 0 0 0 2000px rgba(0, 0, 0, 0.3);
	background-position: center;
	width: 100%;
}


.jumbotron h1 {
	font-family: 'Sorts Mill Goudy';
	color: #e6ac00;
}

	/* Brand */
.brand-container {
	margin-top: 20px;
}

	/* Menu */
#sampleMenu {
	background-color: lightslategray;
}